.agenda {
  a {
    color: #6D6D6D;
  }
  .devops {
    background-color: #555;
  }
  .panel {
    background-color: #655;
  }
  .craftsmanship {
    background-color: #775;
  }
  .data {
    background-color: #885;
  }
  .product {
    background-color: #959;
  }
  .web {
    background-color: #a5a;
  }
  .mobile {
    background-color: #5aa;
  }
  .lab {
    background-color: #55d;
  }
}