@import "compass_twitter_bootstrap";
@import "tactile.scss";

$bg: #ECE37B;
#register {
  background: $bg; /* Old browsers */
  background: -moz-linear-gradient(top,  $bg 0%, $bg 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bg), color-stop(100%,$bg)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $bg 0%,$bg 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $bg 0%,$bg 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $bg 0%, $bg 100%); /* IE10+ */
  background: linear-gradient(top,  $bg 0%,$bg 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg', endColorstr='$bg',GradientType=0 ); /* IE6-9 */
}


.speaker-image {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 0 1em 1em;
}

.speaker-image-small {
  width: 50px !important;
  height: 50px;
  display: block;
  background-size: 100% !important;
}

.media {
  clear: both;
}

footer {
  clear: both;
}

@import "people.scss";

.googletlv {
  width: 310px;
  height: 150px;
  display: block;
  background: image-url("/images/googletlv.png");
}

.track-label {
  float: left;
  margin: 4px 6px 0 0;
}

.search-query {
  background-color: #E7E7F3;
}