@import "compass_twitter_bootstrap";
@import "tactile.scss";

$bg: #ECE37B;
#register {
  background: $bg; /* Old browsers */
  background: -moz-linear-gradient(top,  $bg 0%, $bg 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bg), color-stop(100%,$bg)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $bg 0%,$bg 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $bg 0%,$bg 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $bg 0%, $bg 100%); /* IE10+ */
  background: linear-gradient(top,  $bg 0%,$bg 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg', endColorstr='$bg',GradientType=0 ); /* IE6-9 */
}


.speaker-image {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 0 3em 1em;
}
.ori-lahav {
  background: image-url("/images/ori-lahav.jpeg");
}
.ran-tavory {
  background: image-url("/images/ran-tavory.png");
}

.media {
  clear: both;
}

footer {
  clear: both;
}