.ori {
  background: image-url("/images/ori.jpeg");
}
.ran {
  background: image-url("/images/ran.png");
}
.roee {
  background: image-url("/images/roee.png");
}
.yoav {
  background: image-url("/images/yoav.png");
}
.ronen {
  background: image-url("/images/ronen.png");
}
.eden {
  background: image-url("/images/eden.png");
}
.moshe {
  background: image-url("/images/moshe.png");
}
.idok {
  background: image-url("/images/idok.jpg");
}
.snoyman {
  background: image-url("/images/snoyman.jpg");
}
.rann {
  background: image-url("/images/rann.png");
}
.dvir {
  background: image-url("/images/dvir.jpg");
}
.greenido {
  background: image-url("/images/greenido.png");
}
.iris {
  background: image-url("/images/iris.png");
}
.royi {
  background: image-url("/images/royi.jpg");
}
.liors {
  background: image-url("/images/liors.jpg");
}
.itaym {
  background: image-url("/images/itaym.jpg");
}
.shaiyalin {
  background: image-url("/images/shaiyalin.jpg");
}
.oren {
  background: image-url("/images/oren.png");
}
.arik {
  background: image-url("/images/arik.jpg");
}
.hayim {
  background: image-url("/images/hayim.jpg");
}
.alongolan {
  background: image-url("/images/alongolan.png");
}
.raboy {
  background: image-url("/images/raboy.jpg");
}
.urilavi {
  background: image-url("/images/urilavi.png");
}
.yoavf {
  background: image-url("/images/yoavf.jpg");
}
.haggais {
  background: image-url("/images/haggais.png");
}
.orenf {
  background: image-url("/images/orenf.jpg");
}
.baruch {
  background: image-url("/images/baruch.jpg");
}
.shair {
  background: image-url("/images/shair.png");
}
.amitai {
  background: image-url("/images/amitai.png");
}
