.ori {
  background: image-url("/images/ori.jpeg");
}
.ran {
  background: image-url("/images/ran.png");
}
.roee {
  background: image-url("/images/roee.png");
}
.yoav {
  background: image-url("/images/yoav.png");
}
.ronen {
  background: image-url("/images/ronen.png");
}
.eden {
  background: image-url("/images/eden.png");
}
.moshe {
  background: image-url("/images/moshe.png");
}
.idok {
  background: image-url("/images/idok.jpg");
}
.snoyman {
  background: image-url("/images/snoyman.jpg");
}
.rann {
  background: image-url("/images/rann.png");
}
.dvir {
  background: image-url("/images/dvir.jpg");
}
.greenido {
  background: image-url("/images/greenido.png");
}
.iris {
  background: image-url("/images/iris.png");
}
.royi {
  background: image-url("/images/royi.jpg");
}
.liors {
  background: image-url("/images/liors.jpg");
}
.itaym {
  background: image-url("/images/itaym.jpg");
}
.shaiyalin {
  background: image-url("/images/shaiyalin.jpg");
}
.oren {
  background: image-url("/images/oren.png");
}
.arik {
  background: image-url("/images/arik.jpg");
}
.hayim {
  background: image-url("/images/hayim.jpg");
}
.alongolan {
  background: image-url("/images/alongolan.png");
}
.raboy {
  background: image-url("/images/raboy.jpg");
}
.urilavi {
  background: image-url("/images/urilavi.png");
}
.yoavf {
  background: image-url("/images/yoavf.jpg");
}
.haggais {
  background: image-url("/images/haggais.png");
}
.orenf {
  background: image-url("/images/orenf.jpg");
}
.baruch {
  background: image-url("/images/baruch.jpg");
}
.shair {
  background: image-url("/images/shair.png");
}
.amitai {
  background: image-url("/images/amitai.png");
}
.gilz {
  background: image-url("/images/gilz.png");
}
.yuvalyeret {
  background: image-url("/images/yuvalyeret.png");
}
.shayelkin {
  background: image-url("/images/shayelkin.jpg");
}
.dror {
  background: image-url("/images/dror.jpg");
}
.ranm {
  background: image-url("/images/ranm.png");
}
.yoavr {
  background: image-url("/images/yoavr.jpg");
}
.andrews {
  background: image-url("/images/andrews.png");
}
.tomerg {
  background: image-url("/images/tomerg.jpg");
}
.unativ {
  background: image-url("/images/unativ.png");
}
.yosit {
  background: image-url("/images/yosit.jpg");
}
.igal {
  background: image-url("/images/igal.png");
}
.evgeny {
  background: image-url("/images/evgeny.png");
}
.nati {
  background: image-url("/images/nati.png");
}
.yaronw {
  background: image-url("/images/yaronw.jpg");
}
.udic {
  background: image-url("/images/udic.png");
}
.liorh {
  background: image-url("/images/liorh.png");
}
.alona {
  background: image-url("/images/alona.jpg");
}
.idang {
  background: image-url("/images/idang.jpg");
}
.alex {
  background: image-url("/images/alex.png");
}
.israel {
  background: image-url("/images/israel.jpg");
}
.dimitrik {
  background: image-url("/images/dimitrik.png");
}
.sandro {
  background: image-url("/images/sandro.png");
}
