$sponsor_width: 200px;

.sponsors {
  margin: 0px 35px 35px 35px;
  h2 {
    text-align: center;
    font-size: 13pt;
    margin-top: 50px;
  }
  dd {
    margin-top: 20px;
  }
  .google {
    background: image-url("/images/google.png");
    width: $sponsor_width;
    height: 69px;
    display: block;
  }
  .outbrain {
    background: image-url("/images/outbrain.png");
    width: $sponsor_width;
    height: 38px;
    display: block;
  }
  .astrails {
    background: image-url("/images/astrails.png");
    width: $sponsor_width;
    height: 105px;
    display: block;
  }
  .campustlv {
    background: image-url("/images/campustlv.png");
    width: $sponsor_width;
    height: $sponsor_width;
    display: block;
  }
  .picscout {
    background: image-url("/images/picscout.png");
    width: $sponsor_width;
    height: 72px;
    display: block;
  }
  .wix {
    background: image-url("/images/wix.jpeg");
    width: $sponsor_width;
    height: 83px;
    display: block;
  }
  .totango {
    background: image-url("/images/totango.png");
    width: $sponsor_width;
    height: 32px;
    display: block;
  }
}
