$sponsor_width: 200px;

.sponsors {
  margin: 35px;
  h2 {
    text-align: center;
    font-size: 13pt;
  }
  dd {
    margin-top: 20px;
  }
  .google {
    background: image-url("/images/google.png");
    width: $sponsor_width;
    height: 69px;
    display: block;
  }
  .outbrain {
    background: image-url("/images/outbrain.png");
    width: $sponsor_width;
    height: 38px;
    display: block;
  }
  .astrails {
    background: image-url("/images/astrails.png");
    width: $sponsor_width;
    height: 105px;
    display: block;
  }
  .campustlv {
    background: image-url("/images/campustlv.png");
    width: $sponsor_width;
    height: $sponsor_width;
    display: block;
  }
}
