<h1>Information page for our Speakers</h1>
<p>This is the info page for speakers at the conference. For any additional questions please contact your moderator, Ori or me (Ran)</p>
<h2>Can we use our own laptop?</h2>
<p>Yes, <strong>you should use your own laptop</strong> for presentations. Just make sure you have your presentation with you on your laptop and another backup, preferably on a Disk on Key</p>

<h2>Which connectors?</h2>
<p>The projectors have both VGA and HDMI connectors<p>

<h2>Who is going to assist me with the mics and etc?</h2>
<p>We do not have a dedicated IT staff. If you're having trouble, try to find your moderator, Ori or Ran and we'll help</p>

<h2>Sponsor slides</h2>
<p>We kindely request that you use the following <a href="https://docs.google.com/folder/d/0B3gbRXPzHA7aZW1DZko0ZlVFWWM/edit">thank you slide</a> as your first slide in the presentation (choose a file format from the link per your preference)</p>

<h2>Parking - we have none</h2>
<p>Sorry, but we cannot provide parking to speakers or organizers. We just don't have it :(</p>
<p>See the general <a href="#/info">info page</a> for how to get there</p>

<h2>When should I be there?</h2>
<p>We hope you will be able to enojoy the entire day of lectures, but if you plan to show up only to your lecture then please try to make it at least 1/2h before time.</p>

<h2>What if I'm not registered?</h2>
<p>If you're only planning to show up to your talk, then no need to register</p>
<p>If you want to attend the entire day (or - more than just your talk) then please register and ping me, I'll make sure you get in and not stay on the waiting list</p>

<h2>Video recording</h2>
<p>We want to tape all talks and put them online in video and sound formats. If you have any kind of objection to that, please let us know (that's cool, although it's a shame...).</p>
<p>If you have not filled the <a href="https://docs.google.com/forms/d/1i6cxjK1XkJnVckd5E7dIsnidBC4C65-99jT3fOzp5uE/viewform">Video Recording Consent form</a>, please do so now, it take just 5 seconds</p>

<h2>Where's my lecture?</h2>
<p>We have two rooms. One is the Main Hall and the other is the Classroom. And of course the Lab (hack room). Please have a look at <a href="#/agenda">the agenda</a> and see where you are</p>

<h2>How much time do I have for my session?</h2>
<p>Most sessions have 50 minutes. And then there's 10 minutes break between sessions. Try to plan for about 40 minutes frontal and 10 minutes questions, but of course it's really up to you</p>

<h2>If the time comes, should I just start?</h2>
<p>Yes :-)</p>
<p>In most cases your moderator will be in the room, so if in doubt, ask him, but if no one's there to back you up and the time comes, just signal the camera man and do your thing</p>

<h2>Drinkup</h2>
<p>We have a drinkup, see the <a href="#/info">info page</a> for more details. We hope to see all speakers in the drinkup, whether you're speaking on the first or the second day.</p>
<h2>Who do I contact if...?</h2>
<p>For any additional questions feel free to contact your moderator or me (rantav at gmail)</p>

<h3>Thank you! We appreciate your contribution!</h3>
