<h3>About Reversim Summit 2013</h3>

<p><a href="http://reversim.com">Reversim</a>  (רברס עם פלטפורמה) is a Hebrew podcast by
  <a href="https://twitter.com/orilahav">Ori&nbsp;Lahav</a> and <a href="http://tavory.com">Ran&nbsp;Tavory</a>
  which brings together software developers and product, with over 150 recorded episodes and a few hundreds listners.
</p>
<p>The summit is our intention to create a conference for developers by developers. Like in the podcast, we bring you
  the content we are interested in, and we hope you will be too.
</p>

<h3>Who's behind the Reversim Summit?</h3>
<p>We are the folks that bring you the podcast and many friends who help put this together</p>

<div ng-include="'views/partials/people.html'"></div>

<!-- <div ng-repeat="p in people" class="media">
  <h4 class="media-heading">{{p.name}}</h4>
  <div class="speaker-image {{p.image_class}} pull-right img-circle media-object">&nbsp;</div>
  <div class="media-body">
    <p>{{p.bio}}</h2>
  </div>
</div>

 -->