<h1>Agenda</h1>
<script id="partials/agenda-cell.html" type="text/ng-template">
  <span class="label">{{cell.Track}}</span>
  <a href="#/sessions/{{cell.Subject}}">{{cell.Subject}}</a>
  <a href="#/speakers/{{cell.Speaker}}" title="{{cell.Speaker}}">
    <div class="speaker-image-small {{cell.css}} pull-right img-circle media-object">&nbsp;</div>
  </a>
</script>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Room 1 (Large)</th>
      <th>Room 2 (Small)</th>
      <th>Lab</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="slot in agenda">
      <td>
        <span class="label label-info">Day {{slot.day}}</span>
        <span class="label label-info">{{slot.time}}</span></td>
      <td>
         <agenda-cell cell="slot.room1"></agenda-cell>
      </td>
      <td>
         <agenda-cell cell="slot.room2"></agenda-cell>
      </td>
      <td>
         <agenda-cell cell="slot.lab"></agenda-cell>
      </td>
    </tr>
  </tbody>
</table>