<h1>Agenda</h1>
<script id="partials/agenda-cell.html" type="text/ng-template">
  <div ng-show="cell == 'Lunch'" class="badge badge-success">
    Lunch
  </div>
  <div ng-show="cell == 'Keynote'" class="badge badge-warning">
    Keynote
  </div>
  <div ng-show="cell == 'cont'" class="badge">
    Continue
  </div>
  <a href="#/speakers/{{cell.Speaker}}" title="{{cell.Speaker}}">
    <div class="speaker-image-small {{cell.css}} pull-right img-circle media-object">&nbsp;</div>
  </a>
  <dl>
    <dt>
      <span class="label" ng-show="cell.Track">{{cell.Track}}</span>
      <a href="#/sessions/{{cell.Subject}}">{{cell.Subject}}</a>
    </dt>
    <di>
      <a href="#/speakers/{{cell.Speaker}}" title="{{cell.Speaker}}">
        {{cell.Speaker}}
      </a>
    </di>
  </dl>
</script>
<table class="table agenda">
  <thead>
    <tr>
      <th>Time</th>
      <th>Room 1 (Large)</th>
      <th>Room 2 (Small)</th>
      <th>Lab</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="slot in agenda">
      <td>
        <span class="label"
              ng-class="{'label-info': slot.day == '1', 'label-inverse': slot.day == '2'}">Day {{slot.day}}</span>
        <span class="label"
              ng-class="{'label-info': slot.day == '1', 'label-inverse': slot.day == '2'}">{{slot.time}}</span>
      </td>
      <td>
         <agenda-cell cell="slot.room1"></agenda-cell>
      </td>
      <td>
         <agenda-cell cell="slot.room2"></agenda-cell>
      </td>
      <td>
         <agenda-cell cell="slot.lab"></agenda-cell>
      </td>
    </tr>
  </tbody>
</table>