<h1>Call For Papers (Deadline: Jan 1st)</h1>
<div class="hero-unit">
  <h4>Process:</h4>
  <ol>
    <li>Submit your 'paper' (it's actually a talk or a lab). <strong>Deadline: Jan 1 2013</strong></li>
    <li>Committee chooses the selected papers and creates an agenda</li>
    <li>We contact you and send date/time confirmation</li>
    <li>You prepare the slides/lab/rest of the work</li>
  </ol>
</div>

<p>We want you on board. <a href="https://github.com/rantav/reversim-summit-2013/blob/master/README.md">Please see the full instructions here</a>.</p>

<pre><code>require 'speaker'
require 'israel'

module Israel
  module Summit
    def call_for_papers(speaker, subject)
      apply(speaker) if ["DevOps, NoOps, CD, Dev Culture",
                         "Software Craftsmanship",
                         "Mobile dev",
                         "Web dev",
                         "Product, Lean Startup, UX"
                        ].include(subject)
                        and (speaker.available?(Date.new(2013, 2, 18))
                           or speaker.available?(Date.new(2013, 2, 19)))
    end
    def apply(speaker)
      # We prefer github, but also settle for goo-ol emails
      if speaker.can_github?
        speaker.make_pull_request('/rantav/reversim-summit-2013')
      else
        speaker.send_mail('rantav@ the gmail')
    end
  end
end</code></pre>

<p>The topics are:</p>
<div ng-include="'views/partials/topics.html'"></div>

