<h1>Information page for our guests</h1>

<h2>Registration</h2>
<p>Registration is through meetup. If you'd already registered to <a href="http://www.meetup.com/reversim-summit/events/99581162/">Day 1</a> or <a href="http://www.meetup.com/reversim-summit/events/99582772/">Day 2</a> then you're most welcome to the event. If you're not registered, or you're still on the waiting list, then we're  sorry, space is limited... But we promise to put the material online and let you know. And hey - maybe someone will cancel in the last minute and you'd still get in...</p>

<h2>Will you attend?</h2>
<p>We hope you will. But if you're registered and something came up and you cannot attend - then we ask you to <strong>please remove yourself</strong> and let others from the waiting list get in. The waiting lists are long and many people want to get in, so please be considerate and remove yourself. To remove, simply visit <a href="http://www.meetup.com/reversim-summit/events/99581162/">Day 1</a> or <a href="http://www.meetup.com/reversim-summit/events/99582772/">Day 2</a> and RSVP as NO. Thank you, and we hope to see as many of you as our limited capacity allows!</p>

<h2>Download our mobile app</h2>
<p>The good folks at Bizzabo had not only developed a nice mobile app for events, but they'd also taken us under their wing and creatd the <a href="http://www.bizzabo.com/event/#75556">Reversim Summit Event on Bizzabo</a> and filled up all the data so now you can just <a href="http://www.bizzabo.com/download">Download Bizzabo</a>, find "reversim summit" in it, join the event and have the Agenda, Abstracts and Speakers bio and photos at the palm of your hands. Very useful. There's also a nice twitter integration, so that's useful too. And besides, it's a cool app if you go to other events. </p>

<h2>Register to Google's site and get free wifi access</h2>
<p>You know you want it - <strong>WIFI</strong>. To get your wifi code, please <a href="http://www.campustelaviv.com/">register to Campus TLV</a> (that's google). Besides, Google wants all participants registered so you might need to do this anyway before you can get in, so save time and register online</p>

<h2>How to get there?</h2>
<div class="pull-right" style="width:300px">
</div>
<img src="/images/electra.png" title="Electra Building" class="pull-right" style="margin-bottom:10px"/>
<p>Address: <a href="https://maps.google.com/?q=Yigal%20Alon%2098,%20Tel%20Aviv-Yafo,%20Israel">98 YIGAL ALON ST. TEL AVIV FLOOR 26TH</a></p>
<p>The building is called Electra Building and it looks like this, to the right</p>
<p>Walking from the train station is about 12 minutes and 900 meters (see map)</p>
<iframe style="margin:10px" class="pull-right" width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=HaShalom,+Tel+Aviv,+Israel&amp;daddr=Yigal+Alon+98,+Tel+Aviv-Yafo,+Israel&amp;hl=en&amp;geocode=FaFn6QEdweYSAimNfmAfmUsdFTEtID5ymBVZ1Q%3BFetZ6QEdU-kSAilJlHwEn0sdFTEj8vMthSKVKw&amp;aq=1&amp;oq=hashalom&amp;sll=32.072266,34.793315&amp;sspn=0.01391,0.026135&amp;dirflg=w&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=32.072138,34.792929&amp;spn=0.005455,0.006437&amp;z=16&amp;output=embed"></iframe>

<br style="clear:both"/>
<h2>Parking</h2>
<p>We're sorry, but we cannot provide free parking. There's plenty of public transportation and it's pretty close to Azrieli Center so you could either take the train and walk or even park in Azrieli and walk. There's some limited street parking and parking lots for early birds but they all cost money. There is also parking for the guests of Electra building on HaSolelim st, but it's pricy</p>

<h2>How to enter the buliding</h2>
<p>As you enter the reception at the ground floor, let them know you're headed to Google (no need to mention the conference - they won't know about it). They will provide you with an entry magnetic card, so keep it. They might also ask you to hand an ID card (although the folks from google tells us that for google they don't require IDs). Then head over to the <strong>26th</strong> floor</p>

<h2>Where are the talks?</h2>
<p>There are two rooms. One is the <strong>Main Hall</strong>, with capacity of 200+ and the other is the <strong>Classroom</strong> with capacity of 50+. If you look at the <a href="/#agenda">agenda</a> you'd see that the titles tell you this secret.</p>
<p>We tried to guess the number of attendees in each session. We have even made a poll a few weeks back in order to determine the number of attendees in each talk. So we hope the talks in the classroom will not be overcrowded and if they are, then we apologize in advance...</p>
<p>Of course the Labs are in the lab.</p>
<p>Everything is on the same floor. <strong>Floor 26</strong></p>

<h2>When does it all start?</h2>
<p>Early birds are welcome starting 8:00 where you'll get a coffee and light breakfast (fruits and stuff, nothing fancy). At <strong>9:00</strong> sharp we begin with the first talk and at 10:00 is the daily keynote</p>

<h2>Register to the labs</h2>
<p>The lab sessions require special registration, due to limited space, so be sure to register to them if you want to attend. Make sure that you're also registered to the same day of the event, for example if the lab is on day 1 you need to register to the lab, as well as be registered to Day 1. Registration to the labs is through meetup as well, <a href="http://www.meetup.com/reversim-summit/">see here</a>. </p>

<h2>Lunch</h2>
<p>Our hosts, google, will provide light lunch (pizza or the likes) at 13:00.</p>

<h2>Coffee</h2>
<p>We'll have it 24/7. After all, that's what we're good at...</p>

<h2>Unconference</h2>
<p>We have an extra room! It's a large and spacious room, but it's not suitable for real frontal sessions. However it's a wonderful space for unconference. It's spacios, it has flipboards and it's all ours!</p>
<p>The nature of unconferences is that they are self-organized, so I'll let the power of democracy dictate the agenda. Anyway, my idea was simply to take a flipboard, write a list of 30 minutes slots throughout the day and anyone that wants to present something just registers to a slot and presents it on time.</p>
<p>From now on - <strong>the power is yours</strong>. Make the best of this room.</p>

<h2>Agenda</h2>
<p>The final <a href="/#agenda">agenda</a> is published, including which session in which room. Should there be any last minute changes, we'll let you know by email (meetup) or Bizzabo</p>

<h2>Twitter #hashtags</h2>
<p>Our hashtag is <a href="https://twitter.com/intent/tweet?hashtags=reversim">#reversim</a>. Keep that in mind as you tweet.</p>

<h2>Party / Drinkup</h2>
<p>We will have a small party / drinkup at <a href="https://maps.google.com/maps?q=%D7%A8%D7%95%D7%98%D7%A9%D7%99%D7%9C%D7%93+45,+%D7%AA%D7%9C+%D7%90%D7%91%D7%99%D7%91+%D7%99%D7%A4%D7%95,+%D7%99%D7%A9%D7%A8%D7%90%D7%9C&hl=en&ie=UTF8&ll=32.064183,34.77484&spn=0.006974,0.013068&sll=37.0625,-95.677068&sspn=52.68309,107.050781&oq=%D7%A8%D7%95%D7%98%D7%A9%D7%99%D7%9C%D7%93+45&hnear=Sderot+Rothschild+45,+Tel+Aviv-Yafo,+Israel&t=m&z=17">Auto Bar, Rothschild 45</a>, on the 18th starting 19:30</p>
<p>The party is organized and sponsored by <a href="http://www.wix.com/">Wix</a> and <a href="http://www.totango.com/">Totango</a> (thank you guys)</p>
