<div class="googletlv img-rounded thumbnail pull-right">&nbsp;</div>
<h1>Register</h1>

<h4>Where?</h4>
<dl>
  <dd><a href="http://www.campustelaviv.com/">Google's Campus Tel Aviv</a></dd>
</dl>
<h4>When?</h4>
<dl>
  <dd>Feb 18th, 19th 2013</dd>
</dl>

<h4>What language?</h4>
<dl>
  <dd>Per speakers choice. In most cases - <strong>Hebrew</strong>. In some cases English. And if some insist, we allow Klingon or Ruby.</dd>
</dl>

<h4>How to register?</h4>
<dl>
  <dt>Meetup:</dt>
  <dd>
    Registration is now open to everyone! <a href="http://www.meetup.com/reversim-summit/">Please join our meetup group</a>.<br/>
    <strong>Very important</strong>: Registration is by day. You may register to the <a href="http://www.meetup.com/reversim-summit/events/99581162/">first day</a>, to the <a href="http://www.meetup.com/reversim-summit/events/99582772/">second day</a> or both. If you'd like to attend both days (and you're welcome) then you must register to both events.
  </dd>
  <dt>Google Campus TLV:</dt>
  <dd>You also need to register to <a href="http://www.campustelaviv.com/">Campus TLV</a>, our hosts, in order to get into Google.</dd>
  <dt>Email:</dt>
  <dd>You <i>may</i> register to the <a href="https://groups.google.com/forum/?fromgroups#!forum/reversim-summit">Reversim Summit Google Group</a>, where we will post updates and general discussions.</dd>
</dl>
