<h3>Register</h3>

<h4>Where?</h4>
<dl>
  <dd>Tel Aviv. Exact location TBD</dd>
</dl>
<h4>When?</h4>
<dl>
  <dd>Feb 18th, 19th 2013</dd>
</dl>

<h4>How to register?</h4>
<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd>First, please register to the <a href="https://groups.google.com/forum/?fromgroups#!forum/reversim-summit">Reversim Summit Google Group</a>, where we will post updates. This is important, we will use this group to send updates about talks, if there are changes in the agenda etc. So please register</dd>
  <dt>Meetup</dt>
  <dd>Then register at meetup.com. But we're still working on it, stay tuned! Register by mail first!</dd>
</dl>
