<h1>Sessions</h1>
<h2>Big disclaimer: All sessions are currently PENDING, until we build the final agenda in Jan</h2>
<div class="pull-right">
  <input ng-model="query" class="input-medium search-query" placeholder="Search">
</div>
<div ng-repeat="s in sessions | orFilter:[{Status: 'pending'}, {Status: 'confirmed'}, {Status: 'accepted'}] | filter:{Subject: sessionName} | filter:query">
  <hr/>
  <a href="#/speakers/{{s.Speaker.name}}">
    <div class="popoverable speaker-image-small {{s.Speaker.css}} pull-right img-circle media-object"
         data-title="{{s.Speaker.name}}"
         data-content="{{s.Speaker.bio | markdown}}"
         data-trigger="hover"
         data-html="true">&nbsp;</div>
  </a>
  <h4><a href="#/sessions/{{s.Subject}}">{{s.Subject}}</a></h4>
  <span ng:show="s.Track == 'lab'" class="label track-label label-warning">L&nbsp;A&nbsp;B</span>
  <span ng:hide="s.Track == 'lab'" class="label track-label">{{s.Track}}</span>
  <span class="media-body" ng-bind-html-unsafe="s.Abstract | markdown"></span>
</div>
