/* line 1, ../../app/styles/people.scss */
.ori {
  background: url(/images/6ba09381.ori.jpeg);
}

/* line 4, ../../app/styles/people.scss */
.ran {
  background: url(/images/96085fa2.ran.png);
}

/* line 7, ../../app/styles/people.scss */
.roee {
  background: url(/images/44e00ae5.roee.png);
}

/* line 10, ../../app/styles/people.scss */
.yoav {
  background: url(/images/ae1c727d.yoav.png);
}

/* line 13, ../../app/styles/people.scss */
.ronen {
  background: url(/images/ab3ffa57.ronen.png);
}

/* line 16, ../../app/styles/people.scss */
.eden {
  background: url(/images/4ecb39fc.eden.png);
}

/* line 19, ../../app/styles/people.scss */
.moshe {
  background: url(/images/e4637202.moshe.png);
}

/* line 22, ../../app/styles/people.scss */
.idok {
  background: url(/images/3aba74b8.idok.jpg);
}

/* line 25, ../../app/styles/people.scss */
.snoyman {
  background: url(/images/8ffffa7a.snoyman.jpg);
}

/* line 28, ../../app/styles/people.scss */
.rann {
  background: url(/images/31cd947a.rann.png);
}

/* line 31, ../../app/styles/people.scss */
.dvir {
  background: url(/images/7210c0ac.dvir.jpg);
}

/* line 34, ../../app/styles/people.scss */
.greenido {
  background: url(/images/04dfaeb4.greenido.png);
}

/* line 37, ../../app/styles/people.scss */
.iris {
  background: url(/images/117a4717.iris.png);
}

/* line 40, ../../app/styles/people.scss */
.royi {
  background: url(/images/33024dfe.royi.jpg);
}

/* line 43, ../../app/styles/people.scss */
.liors {
  background: url(/images/c0461b7d.liors.jpg);
}

/* line 46, ../../app/styles/people.scss */
.itaym {
  background: url(/images/b1e15a9f.itaym.jpg);
}

/* line 49, ../../app/styles/people.scss */
.shaiyalin {
  background: url(/images/f745de3a.shaiyalin.jpg);
}

/* line 52, ../../app/styles/people.scss */
.oren {
  background: url(/images/cd0b6e98.oren.png);
}

/* line 55, ../../app/styles/people.scss */
.arik {
  background: url(/images/9a824b45.arik.jpg);
}

/* line 58, ../../app/styles/people.scss */
.hayim {
  background: url(/images/9f4d11db.hayim.jpg);
}

/* line 61, ../../app/styles/people.scss */
.alongolan {
  background: url(/images/9f2cbcaa.alongolan.png);
}

/* line 64, ../../app/styles/people.scss */
.raboy {
  background: url(/images/264aca58.raboy.jpg);
}

/* line 67, ../../app/styles/people.scss */
.urilavi {
  background: url(/images/7e561bd0.urilavi.png);
}

/* line 70, ../../app/styles/people.scss */
.yoavf {
  background: url(/images/b294f36b.yoavf.jpg);
}

/* line 73, ../../app/styles/people.scss */
.haggais {
  background: url(/images/d1cc10a1.haggais.png);
}

/* line 76, ../../app/styles/people.scss */
.orenf {
  background: url(/images/421d2ea9.orenf.jpg);
}

/* line 79, ../../app/styles/people.scss */
.baruch {
  background: url(/images/17eea08a.baruch.jpg);
}

/* line 82, ../../app/styles/people.scss */
.shair {
  background: url(/images/a33abe0f.shair.png);
}

/* line 85, ../../app/styles/people.scss */
.amitai {
  background: url(/images/e6841af1.amitai.png);
}

/* line 88, ../../app/styles/people.scss */
.gilz {
  background: url(/images/4b6b3d05.gilz.png);
}

/* line 91, ../../app/styles/people.scss */
.yuvalyeret {
  background: url(/images/224db0fe.yuvalyeret.png);
}

/* line 94, ../../app/styles/people.scss */
.shayelkin {
  background: url(/images/8bc028c5.shayelkin.jpg);
}

/* line 97, ../../app/styles/people.scss */
.dror {
  background: url(/images/64dd4b4b.dror.jpg);
}

/* line 100, ../../app/styles/people.scss */
.ranm {
  background: url(/images/d04f13fc.ranm.png);
}

/* line 103, ../../app/styles/people.scss */
.yoavr {
  background: url(/images/b8a43b23.yoavr.jpg);
}

/* line 106, ../../app/styles/people.scss */
.andrews {
  background: url(/images/3de1c55a.andrews.png);
}

/* line 109, ../../app/styles/people.scss */
.tomerg {
  background: url(/images/ad421811.tomerg.jpg);
}

/* line 112, ../../app/styles/people.scss */
.unativ {
  background: url(/images/822479ef.unativ.png);
}

/* line 115, ../../app/styles/people.scss */
.yosit {
  background: url(/images/f77f8712.yosit.jpg);
}

/* line 118, ../../app/styles/people.scss */
.igal {
  background: url(/images/221d382c.igal.png);
}

/* line 121, ../../app/styles/people.scss */
.evgeny {
  background: url(/images/b90725a2.evgeny.png);
}

/* line 124, ../../app/styles/people.scss */
.nati {
  background: url(/images/a11579fa.nati.png);
}

/* line 127, ../../app/styles/people.scss */
.yaronw {
  background: url(/images/2026ca98.yaronw.jpg);
}

/* line 130, ../../app/styles/people.scss */
.udic {
  background: url(/images/ad996785.udic.png);
}
