/* line 1, ../../app/styles/people.scss */
.ori {
  background: url(/images/6ba09381.ori.jpeg);
}

/* line 4, ../../app/styles/people.scss */
.ran {
  background: url(/images/96085fa2.ran.png);
}

/* line 7, ../../app/styles/people.scss */
.roee {
  background: url(/images/44e00ae5.roee.png);
}

/* line 10, ../../app/styles/people.scss */
.yoav {
  background: url(/images/ae1c727d.yoav.png);
}

/* line 13, ../../app/styles/people.scss */
.ronen {
  background: url(/images/ab3ffa57.ronen.png);
}

/* line 16, ../../app/styles/people.scss */
.eden {
  background: url(/images/4ecb39fc.eden.png);
}

/* line 19, ../../app/styles/people.scss */
.moshe {
  background: url(/images/e4637202.moshe.png);
}

/* line 22, ../../app/styles/people.scss */
.idok {
  background: url(/images/3aba74b8.idok.jpg);
}

/* line 25, ../../app/styles/people.scss */
.snoyman {
  background: url(/images/8ffffa7a.snoyman.jpg);
}

/* line 28, ../../app/styles/people.scss */
.rann {
  background: url(/images/31cd947a.rann.png);
}

/* line 31, ../../app/styles/people.scss */
.dvir {
  background: url(/images/7210c0ac.dvir.jpg);
}

/* line 34, ../../app/styles/people.scss */
.greenido {
  background: url(/images/04dfaeb4.greenido.png);
}

/* line 37, ../../app/styles/people.scss */
.iris {
  background: url(/images/117a4717.iris.png);
}

/* line 40, ../../app/styles/people.scss */
.royi {
  background: url(/images/33024dfe.royi.jpg);
}

/* line 43, ../../app/styles/people.scss */
.liors {
  background: url(/images/c0461b7d.liors.jpg);
}

/* line 46, ../../app/styles/people.scss */
.itaym {
  background: url(/images/b1e15a9f.itaym.jpg);
}

/* line 49, ../../app/styles/people.scss */
.shaiyalin {
  background: url(/images/f745de3a.shaiyalin.jpg);
}

/* line 52, ../../app/styles/people.scss */
.oren {
  background: url(/images/cd0b6e98.oren.png);
}

/* line 55, ../../app/styles/people.scss */
.arik {
  background: url(/images/9a824b45.arik.jpg);
}

/* line 58, ../../app/styles/people.scss */
.hayim {
  background: url(/images/9f4d11db.hayim.jpg);
}
